<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">{{ config.SITE_NAME | default('ChronoRootControl') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('experiment_page.new_experiment')}}"> 
                        <i class="fas fa-plus-circle"></i> New experiment 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('config_page.conf')}}"> 
                        <i class="fas fa-cogs"></i> Configure 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('storage_page.index') }}">
                        <i class="fas fa-hdd"></i> Disks and Files
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('wifi_page.index') }}"> 
                        <i class="fas fa-wifi"></i> Network 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sync_page.index') }}">
                        <i class="fas fa-cloud-upload-alt"></i> Data Sync
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('help_page.index')}}">
                        <i class="fas fa-question-circle"></i> Documentation
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
