# Core Framework
Flask
Flask-WTF
WTForms
Jinja2
Werkzeug
itsdangerous
MarkupSafe
click
blinker

# Scheduling & Time
APScheduler
arrow
pytz
python-dateutil
tzlocal
six

# Hardware & System Utils
smbus2
Pillow
filelock
markdown
appdirs
packaging
pyparsing
pbr